<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>iRIC Software v4 (beta)</Name>
	<Version>4.0.0</Version>
	<Title>iRIC Software v4 (beta)</Title>
	<Publisher>iRIC organization</Publisher>
	<!-- Directory name is used in component.xml -->
	<StartMenuDir>iRIC v4 (beta)</StartMenuDir>
	<TargetDir>@HomeDir@/iRIC_v4</TargetDir>
	<RemoteRepositories>
		<Repository>
			<Url>https://raw.githubusercontent.com/i-RIC/online_update/master/yasu</Url>
			<DisplayName>iRIC Repository for v4 (beta)</DisplayName>
		</Repository>
	</RemoteRepositories>
</Installer>
